@import 'config';

.recipes {
    text-align: left;
    margin-bottom: 40px;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .recipes p {
    color: $color-third;
    font-size: $font-size-base;
    margin-top: $spacing;
  }
  
  .recipes h2 {
    font-size: $font-size-secondary-headings;
    margin-bottom: 1rem;
  }
  
  .recipes h2 .light-text {
    color: $color-fifth;
  }
  
  .recipes h2 .bold-text {
    color: $color-main;
  }